Enter password: 
-- MySQL dump 10.13  Distrib 8.4.7, for Linux (x86_64)
--
-- Host: localhost    Database: sensor_monitoring
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `dev_eui` varchar(64) NOT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `application_name` varchar(255) DEFAULT NULL,
  `tenant_name` varchar(255) DEFAULT NULL,
  `device_profile_name` varchar(255) DEFAULT NULL,
  `description` text,
  `address` varchar(255) DEFAULT NULL,
  `location_lat` decimal(10,7) DEFAULT NULL,
  `location_lon` decimal(10,7) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dev_eui` (`dev_eui`)
) ENGINE=InnoDB AUTO_INCREMENT=151153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `distance_measurements`
--

DROP TABLE IF EXISTS `distance_measurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distance_measurements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `measurement_id` bigint NOT NULL,
  `distance` decimal(10,2) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `battery` decimal(5,2) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `unit` varchar(20) DEFAULT 'cm',
  `sensor_type` enum('EM310','EM500','LLDS12') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_distance_measurements_meas` (`measurement_id`),
  KEY `idx_distance_sensor` (`sensor_type`),
  CONSTRAINT `distance_measurements_ibfk_1` FOREIGN KEY (`measurement_id`) REFERENCES `measurements` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sound_measurements`
--

DROP TABLE IF EXISTS `sound_measurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sound_measurements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `uplink_id` bigint NOT NULL,
  `laeq` decimal(10,2) DEFAULT NULL,
  `lai` decimal(10,2) DEFAULT NULL,
  `lai_max` decimal(10,2) DEFAULT NULL,
  `object_battery` decimal(5,2) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_sound_uplink` (`uplink_id`),
  CONSTRAINT `fk_sound_uplink` FOREIGN KEY (`uplink_id`) REFERENCES `uplinks` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=151153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `uplinks`
--

DROP TABLE IF EXISTS `uplinks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uplinks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `deduplication_id` varchar(255) DEFAULT NULL,
  `dev_eui` varchar(64) NOT NULL,
  `time` datetime NOT NULL,
  `f_port` int DEFAULT NULL,
  `f_cnt` int DEFAULT NULL,
  `adr` tinyint(1) DEFAULT NULL,
  `dr` int DEFAULT NULL,
  `confirmed` tinyint(1) DEFAULT NULL,
  `margin` int DEFAULT NULL,
  `battery_level_unavailable` tinyint(1) DEFAULT NULL,
  `external_power_source` tinyint(1) DEFAULT NULL,
  `battery_level` decimal(5,2) DEFAULT NULL,
  `raw_data` varchar(512) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `deduplication_id` (`deduplication_id`),
  KEY `idx_uplinks_time` (`time`),
  KEY `idx_uplinks_dev_time` (`dev_eui`,`time`),
  CONSTRAINT `fk_uplink_device` FOREIGN KEY (`dev_eui`) REFERENCES `devices` (`dev_eui`)
) ENGINE=InnoDB AUTO_INCREMENT=151153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-17  3:43:28
